.textInput input[type=text] {
  border: 4px solid lightblue;
  border-radius: 4px;
}

.textInput input[type=text]:invalid {
  border: 4px solid red;
  border-radius: 4px;
}

.textInput {
    font-size: 1.2em;
    margin: 0.5em;
}
